:root {
    --cor-laranja: #fa8415;
    --cor-preto: #000000;
    --cor-btn-hover: #eb7100;
}

#navbar {
    background-color: var(--cor-laranja);
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* ===== INDEX ===== */

#body-login {
    background-image: url(../assets/images/fundo-login.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#main-login {
    top: 0;
    background-color: var(--cor-laranja);
    float: right;
    opacity: calc(95%);
    color: var(--cor-preto);
    width: 40%;
}

#botao-envio {
    background-color: white;
    color: var(--cor-preto);
    font-size: 25px;
}

.logo-login {
    position: absolute;
    margin-top: 35px;
    height: 100px;
    margin-left: 35px;
}

#form-login {
    font-size: 25px;
}

/* ===== PÁGINA HOME ===== */

.logo-home {
    height: 400px;
    width: 400px;
    margin-top: 50px;
}

.titulo-home {
    font-size: 35px;
}

.card-home {
    background-color: white;
    border: 3px solid var(--cor-laranja);
    border-radius: 15px;
}

.btn-home {
    background-color: var(--cor-laranja);
    color: var(--cor-preto);
    font-weight: bold;
    border-radius: 5px;
}

.btn-home:hover {
    background-color: var(--cor-btn-hover);
    color: var(--cor-preto);
}

.fade-in {
    animation: fade-in 1.5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* ===== CADASTRO FUNCIONÁRIOS ===== */

#body-funcionarios {
    margin-top: 100px;
    margin-right: 40px;
    margin-left: 65px;
}

.borda-funcionarios {
    border-color: var(--cor-laranja);
    border: 2px solid var(--cor-laranja);
}

.botao-funcionarios {
    color: black;
    background-color: var(--cor-laranja);
    border-radius: 2px;
}

.titulo-funcionarios {
    margin-left: 100px;
    margin-top: 70px;
}



/* ===== CADASTRO SENSORES ===== */

.titulo-sensores {
    margin-left: 325px;
    margin-top: 70px;
}


.botao-sensor {
    margin-left: 1365px;
}

.botao-sensor-cor {
    color: black;
    background-color: var(--cor-laranja);
    border-radius: 3px;
    width: 190px;
    height: 30px;
}

.borda-sensor {
    border-color: var(--cor-laranja);
    border: 2px solid var(--cor-laranja);
}