:root {
    --cor-laranja: #fd7a00;
}

/* ===== CADASTRO DE FUNCIONÁRIOS ===== */

#body-cadastro {
    background-image: url(/assets/images/fundo-login.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


#main-cadastro {
    background-color: var(--cor-laranja);
    float: right;
    opacity: calc(95%);
    color: white;
}

#botao-envio {
    background-color: white;
    color: var(--cor-laranja);
    font-size: 40px;
    margin-top: 25%;
}

.arredonda {
    border-radius: 50px;
}

#form-login {
    font-size: 25px;
}